.svn
*.swp
*.pyc
*.pyo
data
docs/_build
*.swo
prompt.py
mokshaenv
*.db
.build
*.egg-info
*.pid
rabbitmq-codegen
rabbitmq-server
rabbitmq-stomp
moksha/apps/*/*.spec
moksha/apps/*/build
moksha/apps/*/*egg-info
tg2-bootstrap.py
*.cachegrind
dist
build
logs/*.log
