.svn
*.swp
*.pyc
*.pyo
data
docs/_build
*.swo
prompt.py
mokshaenv
*.db
*.db-journal
.build
*.egg-info
*.egg
*.pid
rabbitmq-codegen
rabbitmq-server
rabbitmq-stomp
moksha/apps/*/*.spec
moksha/apps/*/build
moksha/apps/*/*egg-info
tg2-bootstrap.py
*.cachegrind
dist
build
logs/*.log
Paste*.egg
moksha/tests/quickstarts/tg2app/devdata.db-journal
*.coverage
