BeautifulSoup==3.2.1
Genshi==0.6
Jinja2==2.6
Mako==0.7.2
MarkupSafe==0.15
Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.5
Pygments==1.5
SQLAlchemy==0.7.8
Sphinx==1.1.3
Tempita==0.5.1
Twisted==12.2.0
WebOb==1.2.2
decorator==3.3.3
docutils==0.9.1
feedcache==1.4.1
feedparser==5.1.2
kitchen==1.1.1
lockfile==0.9.1
moksha.common==1.0.1
moksha.wsgi==1.0.3
nose==1.2.1
nose-sphinx-doc==0.1
python-daemon==1.6
pytz==2012d
pyzmq==2.2.0.1
repoze.what==1.0.9
repoze.who==1.0.19
repoze.who-testutil==1.0.1
shove==0.3.3
simplejson==2.6.1
speaklater==1.3
stomper==0.2.4
transaction==1.3.0
tw2.core==2.1.1
tw2.dynforms==2.0.1
tw2.excanvas==2.0.2
tw2.forms==2.1.1
tw2.jit==2.0.5
tw2.jqplugins.flot==2.0.1
tw2.jqplugins.gritter==2.0.1
tw2.jqplugins.ui==2.0.1
tw2.jquery==2.0.4
tw2.sqla==2.0.4
txWS==0.7.1
txZMQ==0.5.0
wsgiref==0.1.2
zope.interface==4.0.1
zope.sqlalchemy==0.7.1
