recursive-include docs *
recursive-include production *
recursive-include moksha *.mak
include moksha.spec
include stop-moksha
include start-moksha
include orbited.cfg
include LICENSE
include README
include AUTHORS
include COPYING
