include moksha.spec stop-moksha start-moksha orbited.cfg
include LICENSE README AUTHORS COPYING
include development.ini test.ini
include setup.py pavement.py

graft moksha
graft docs
graft production

# Pull in the apps so we can run the test suite in %check from the RPM,
# and generate docs
graft moksha/apps

# Omit the apps from our core tarball
#prune moksha/apps
