<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<div xmlns:py="http://genshi.edgewall.org/" class="widget_params">
  <div py:if="parameters.local" class="widget_params local_params">
    <h3>This widget's</h3>
    <dl>
        <py:for each="k in sorted(parameters.local)">
            <dt>${k} <span class="default_param">(default = ${parameters.get_default(k)})</span></dt>
            <dd py:content="parameters.get_doc(k, 'Undocumented')" />
        </py:for>
    </dl>
  </div>
  <div py:if="parameters.inherited" class="widget_param inherited_params">
    <h3>Inherited</h3>
    <dl>
        <py:for each="k in sorted(parameters.inherited)">
            <dt>${k} <span class="default_param">(default = ${parameters.get_default(k)})</span></dt>
            <dd py:content="parameters.get_doc(k, 'Undocumented')" />
        </py:for>
    </dl>
  </div>
</div>
