<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<py:def function="footer">
<div id="footer"> 
  <div>
    <div id="moksha_dock"/>
    <br/>
    <center>
        <a href="http://turbogears.org"><img src="${tg.url('/images/under_the_hood_blue.png')}" alt="TurboGears" border="0" /></a>
        <a href="http://moksha.csh.rit.edu"><img src="https://admin.fedoraproject.org/community/images/Powered-by-moksha_button.png" border="0" /></a>
</center>
  </div>
  <div class="foottext">
  </div>
  <div class="clearingdiv"></div>
</div>
</py:def>    
</html>
