<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Demonstration of the LiveQPlotWidget</title>
</head>

<body>
    <table>
        <tr>
            <td>
                <h3>
                    <span py:replace="tmpl_context.plot_widget.label">
                        Widget label goes here.
                    </span>
                </h3>
                ${tmpl_context.plot_widget(data=plot_data, options=plot_options)}
            </td>
            <td>
                <h3>
                    <span py:replace="tmpl_context.pie_widget.label">
                        Widget label goes here.
                    </span>
                </h3>
                ${tmpl_context.pie_widget(data=pie_data, options=pie_options)}
            </td>
        </tr>
    </table>
    <center>
      <a href="#" py:attrs="{'onclick': 'return moksha.view_module_source(\'jqplot_pie_widget\');'}">View Source</a>
    </center>
    <div class="clearingdiv" />
</body>
</html>
